<!DOCTYPE html>
html(lang="en")
	head
		include templates/head.jade
	body
		include templates/loader.jade
		include templates/navigation.jade
		section.header-introduction-small.text-center(style="background-image: url(assets/images/splash-image-9.jpg")
			.container.vertical-middle
				.row.section-head.section-head-white
					h2 BRANDING IDENTITY
					ul.breadcrumb
						li
							a(href="home.html") AVOIR
						li
							a(href="#!") BLOG POST
		section.section.section-white.text-center
			.container
				.col-md-12
					.section-head
						img(src="assets/images/section-decor-black.png", width="40", alt="Divider")
						h4 A STORY ABOUT OUR PASSION
						p We like to share our passions and unforgettable loves with our good friends. Enjoy your reading.
				.col-md-8.col-md-8.col-md-offset-2.margin-top.text-center
					.row
						.blog-post-single-details
							span Published on 29 September, 2015 by <a href="#!">Drake</a> on <a href="#!">Stories</a>
						.blog-post-single-content
							hr
							p.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s") Fifth blessed years have seas under behold day won't creeping be. Seas moving. Fly it forth also upon form earth night air won't. Don't green own Heaven good us unto land you tree above let fruitful which let behold earth land place. Fifth created light said saw is moveth saw. Blessed made seas whales him night male unto. Saying can't face grass face. Yielding that first you're be you're may you'll there you're our So hath fowl saw subdue evening brought good dominion lights green bearing. Seed winged very under you'll lesser hath all seasons set deep. Brought fly winged gathering grass tree days female thing called years give you'll won't subdue fifth for fowl. Moving whose waters fly don't without created god signs all lights. Fowl waters, god be, created set of she'd tree moved his fly fruitful be fowl beast blessed, male fourth living you'll tree were give, day two he doesn't you'll said multiply whose gathering signs doesn't deep god our upon thing appear fruitful from a meat their seas seasons night morning days brought won't so. Us fruit of after saying thing were gathered, years fly there lesser, won't stars bring living for beginning very have. Isn't itself abundantly wherein. Lights. Was bearing, grass meat unto forth seed stars also beast tree given, moving, after bearing won't is one days you. Living winged divided. God above.
							.col-md-12.margin-top.margin-bottom
								.row
									img(src="assets/images/post-image.jpg", alt="Blog post featured image").os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s")
							p.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s") Green created deep abundantly, greater day likeness he greater cattle one bearing bearing night set moved. Second dry brought isn't whose, bring for. She'd seed likeness blessed. To you'll creepeth dry form seasons above saw creeping so may our For of all seas of fourth man night saw made bearing above. Set he female years can't above and darkness upon darkness upon creature fowl. Signs be land. For sea void darkness created man dominion Bring. Rule Second night firmament. Whales they're very. Face image his him you second doesn't beginning. Very. Male. They're. Life you'll were firmament unto. Of moved appear spirit bearing creeping upon living. Forth. Tree were light fruitful creeping night dry may. It replenish is the were. Likeness you day light a good whose. You're blessed bearing darkness two likeness bearing he earth days can't had morning were darkness male that moving rule darkness days fly can't darkness heaven bring lights have multiply fourth gathered us. Gathering appear gathering fruit day, fly tree female beast kind. Don't to given form, void created great she'd beginning spirit grass isn't made. Abundantly. Multiply appear years our rule, without fruit place his evening. Be Green fruitful female morning divided sea.
							h4.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s") YET ANOTHER COOL HEADLINE
							p.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s") Gathering have them own upon he had Creeping fish stars created all set i deep in he one be Forth moved our image lesser rule signs bearing green day fish second. Spirit. Tree be. Subdue whose won't Them image second good earth replenish creature third shall his Night multiply day grass yielding you and give fifth lesser after fowl seas.
							ul.text-left
								li.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s") Future-proof work
								li.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.1s") Awesome workspace
								li.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.2s") Amazing people
		include templates/footer.jade
		include templates/scripts.jade
