<!DOCTYPE html>
html(lang="en")
	head
		include templates/head.jade
	body
		include templates/loader.jade
		include templates/navigation.jade
		section.header-introduction-small.text-center.background-image(style="background-image: url(assets/images/splash-image-4.jpg)")
			.container.vertical-middle
				.row.section-head.section-head-white
					h2 SERVICES
					ul.breadcrumb
						li
							a(href="home.html") AVOIR
						li
							a(href="#!") SERVICES
		section.section.section-white
			.container
				.col-md-12.text-center
					.section-head
						img(src="assets/images/section-decor-black.png", width="40" alt="Divider")
						p Our most important ambition? To make you feel happy and satisfied with our services. We are here to help, and to make your ideas alive with a full-service program
				.col-md-12.margin-top.padding-top.text-center.services
					.row
						.col-md-3.os-animation(data-os-animation="fadeInUp" data-os-animation-delay="0s")
							i.icon-basic-cards-diamonds
							h4 BRAND DESIGN
							p Enlarge your brand identity. Were saw unto very creepeth upon had one fowl. Morning winged signs winged doesn't experience.
						.col-md-3.small-screen-margin-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.2s")
							i.icon-basic-case
							h4 AMAZING MARKETING
							p Sell your products online. Were saw unto very creepeth upon had one fowl. Morning winged signs winged doesn't customers.
						.col-md-3.small-screen-margin-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.4s")
							i.icon-basic-chronometer
							h4 MOTION GRAPHICS
							p A motion is so important his lights. Were saw unto very creepeth upon had one fowl. Morning winged signs winged doesn't UI / UX.
						.col-md-3.small-screen-margin-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.6s")
							i.icon-basic-battery-half
							h4 VIDEO MONTAGE	
							p Moving images get along. Were saw unto very creepeth upon had one fowl. Morning winged signs winged doesn't amazing.
						.col-md-3.margin-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s")
							i.icon-basic-cup
							h4 UI / UX EXPERTS
							p Amazing experience, his lights. Were saw unto very creepeth upon had one fowl. Morning winged signs winged doesn't digital.
						.col-md-3.margin-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.2s")
							i.icon-basic-eye
							h4 CONTENT CREATION
							p We love to create his lights. Were saw unto very creepeth upon had one fowl. Morning winged signs winged doesn't website.
						.col-md-3.margin-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.3s")
							i.icon-basic-display
							h4 DIGITAL PRESENCE
							p Maybe online you his lights. Were saw unto very creepeth upon had one fowl. Morning winged signs winged doesn't bussiness.
						.col-md-3.margin-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.4s")
							i.icon-basic-cloud
							h4 DATA ANALYSIS
							p Truly remarkable his lights. Were saw unto very creepeth upon had one fowl. Morning winged signs winged doesn't brand.
		section.section.section-semi-white.section-short
			.container
				.col-md-12.text-center.margin-top-100
					.row
						.col-md-12
							.monitor-image
								img(src="assets/images/monitor.png" alt="Monitor")
						.col-md-12.text-center.margin-top.padding-top
							.text-block
								h3.cd-headline.letters.type.os-animation(data-os-animation="fadeInUp" data-os-animation-delay="0s")
									span  WE CRAFT&nbsp;
									span.cd-words-wrapper
										b.is-visible WEB EXPERIENCES
										b INTERACTIVE UI
										b CREATIVE PORTFOLIO
								img(src="assets/images/section-decor-black.png", width="60", alt="Divider")
								p.lead.os-animation.margin-top Also living behold moving female that beginning bring make under stars morning above also grass evening heaven darkness.
								p.lead.os-animation We are constantly striving to bring top level support and services.
								a(href="contact.html").btn.btn-black.margin-top.os-animation LET'S WORK TOGETHER
		section.section.section-nopadding.section-white
			.container-fluid
				.row
					include templates/counters.jade
		include templates/footer.jade
		include templates/scripts.jade
